body{
    background-image: url(/images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-color:hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    width: 100vw;
}